doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style: :stylus
      @viewport
        width device-width
        zoom 1
      #nac td
        border thin black solid
        width 1em
        height 1em
    script.
      document.addEventListener('DOMContentLoaded', function () {
        var table = document.getElementById('nac');
        table.addEventListener("click", function (event) {
          event.target.innerHTML = "X";
        });
      });
  body
    h1 Noughts and crosses
    table#nac
      tr
        td
        td
        td
      tr
        td
        td
        td
      tr
        td
        td
        td