doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style: :stylus
      @viewport
        width device-width
        zoom 1
  body
    h1 Noughts and crosses