doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style: :stylus
      @viewport
        width device-width
        zoom 1
      #nac td
        border thin black solid
        width 1em
        height 1em
    script: :babel
      document.addEventListener('DOMContentLoaded', () =>
        document.getElementById('nac')
          .addEventListener('click', (event) => {
            event.target.innerHTML = event.target.innerHTML[0] === 'X' ? 'O' : 'X'
          })
      )
  body
    h1 Noughts and crosses
    table#nac
      tr
        td
        td
        td
      tr
        td
        td
        td
      tr
        td
        td
        td