doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style: :stylus
      @import url('http://fonts.googleapis.com/css?family=Lato:300')
      nac-color = #111
      nac-border-style = thin solid nac-color

      // Smarter underlines code is from https://eager.io/blog/smarter-link-underlines/
      @import '../node_modules/nib'
      selectionColor = #b4d5fe
      textShadowToCropUnderline(color)
        text-shadow .03em 0 color, -.03em 0 color, 0 .03em color, 0 -.03em color, .06em 0 color, -.06em 0 color, .09em 0 color, -.09em 0 color, .12em 0 color, -.12em 0 color, .15em 0 color, -.15em 0 color
      linkUnderlines(backgroundColor, color)
        color color
        text-decoration none
        textShadowToCropUnderline backgroundColor
        background-image linear-gradient(backgroundColor, backgroundColor), linear-gradient(backgroundColor, backgroundColor), linear-gradient(color, color)
        background-size .05em 1px, .05em 1px, 1px 1px
        background-repeat no-repeat, no-repeat, repeat-x
        background-position 0% 90%, 100% 90%, 0% 90%
        &::selection
          textShadowToCropUnderline selectionColor
          background selectionColor
        &::-moz-selection
          textShadowToCropUnderline selectionColor
          background selectionColor
        &:before, &:after, *, *:before, *:after
          text-shadow none
        &:visited
          color color

      @viewport
        width device-width
        zoom 1
      html, body
        font 1.2em/1.4 Helvetica Neue, Lato, DejaVu Sans ExtraLight, Nimbus Sans L, sans-serif
      h1
        font-weight 100 // should switch to 300-weight Lato if that's what's available
        line-height 1.15
        display inline-block
        linkUnderlines(white, nac-color)
      table#nac
        border-spacing 0
        color nac-color
      table::before
        // interesting styling for winning diagonal! ;-)
      #nac td
        padding .5em
        overflow hidden
        text-align center
        line-height 1
        vertical-align middle
        cursor pointer
        border-right nac-border-style
        border-bottom nac-border-style
        width 1em
        max-width 1em
        height 1em
        max-height 1em
      #nac td:last-child
        border-right none
      #nac tr:last-child td
        border-bottom none

    script(src="game.js")
  body
    h1 Noughts and crosses
    table#nac
      tr
        td
        td
        td
      tr
        td
        td
        td
      tr
        td
        td
        td